
:root {
  --blue: #2e86c1;
  --light: #f7fbff;
  --dark: #1a3a4a;

  --bg: var(--light);
  --surface: #ffffff;
  --text: var(--dark);
}

/* !dark mode*/
html.dark-mode {
  --bg: #0f1c1f;
  --surface: #162a2e;
  --text: #d7e6e3;
  --blue: #3f8f95;
}

body {
  font-family: 'Jost', sans-serif;
  background: var(--bg);
  color: var(--text);
  margin: 0;
  padding-top: 80px;
}

/* !rooms layout */
.rooms-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

/*!room images*/
.room img {
    width: calc(100% + 3rem);
    height: 180px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin: -1.5rem -1.5rem 1rem -1.5rem;
    display: block;
}


/* !room card */
.room {
  background: var(--surface);
  padding: 1.5rem;
  border-radius: 10px;
  width: 260px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.06);
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  overflow: hidden;
}

.room:hover {
  transform: translateY(-6px);
}

.room.selected {
  border: 2px solid var(--blue);
  box-shadow: 0 12px 30px rgba(46, 134, 193, 0.25);
}

/* !selection */
#selectedRoom {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.1rem;
}

/* !form */
#bookingForm {
  display: none;
  margin-top: 2rem;
  background: var(--surface);
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 25px rgba(0,0,0,0.06);
}

#bookingForm label {
  display: block;
  margin-top: 1rem;
}

#bookingForm input {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.1);;
  color: var(--text);
}

/* !footer text  */
footer {
  color: var(--text);
}

.footer-bottom p {
  font-size: 0.8rem;
  opacity: 0.8;
}
/* !confirm selection button */
.confirm-selection {
  text-align: center;
  margin-top: 1.5rem;
}

.confirm-selection button {
  display: inline-block;
  margin: 0;
}

/* !submit booking button */
.confirm-btn {
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 0;
}